.dt-time-type-title {
	display: inline-block;
	width: 200px;
}
.dt-time-type {
	
}
.dt-time-type-group {
	list-style-type: none;
	display: inline-block;
}
.dt-time-type-item {
	display: inline-block;
	width: 100px;
}

.km-widget.km-buttongroup {
    margin: 0 auto;
}

.dt-chart-child {
  display: inline-block;
  width: 48%;
}
.dt-table-filter {
  padding-bottom: 20px;
}

.dt-filter-left {
  display: inline-block;
  width: 350px;
}
.dt-chart-bar-title {
  padding-top: 10px;
  font-size: 16px;
  text-align: center;
}
.dt-chart-line-title {
  padding-top: 20px;
  font-size: 16px;
  text-align: center;
}
.up-to-red {
  color: red;
}

.demo-section {
  padding-right: 0px;
}
.nxb-curvedarrow-decrease {
  position: relative;
  width: 0;
  height: 0;
  border-top: 9px solid transparent;
  border-right: 9px solid red;
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -o-transform: rotate(10deg);
}
.nxb-curvedarrow-decrease:after {
  content: "";
  position: absolute;
  border: 0 solid transparent;
  border-top: 3px solid red;
  border-radius: 20px 0 0 0;
  top: -12px;
  left: -9px;
  width: 12px;
  height: 12px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.nxb-curvedarrow-increase {
  position: relative;
  width: 0;
  height: 0;
  border-top: 9px solid transparent;
  border-right: 9px solid red;
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -o-transform: rotate(10deg);
}
.nxb-curvedarrow-increase:after {
  content: "";
  position: absolute;
  border: 0 solid transparent;
  border-top: 3px solid red;
  border-radius: 20px 0 0 0;
  top: -12px;
  left: -9px;
  width: 12px;
  height: 12px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

    
/* Kho Bai*/

#vertical {
    height: 380px;
    margin: 0 auto;
}

#middle-pane { color: #000; background-color: #ccc; }
#bottom-pane { color: #000; background-color: #aaa; }
#left-pane, #center-pane, #right-pane  { color: #000; background-color: #676767; }

.pane-content {
    padding: 0 10px;
}


.kb-block {
  margin-top: 10px;
}
.kb-block-header {
  background: #eeeeee;
  padding: 5px 0 5px 5px;
}

.kb-block-header-title {
  color: green;
}
.kb-block-body {
  background: white;  
  padding: 10px 0 5px 5px;
}
.kb-block-body-left {
  width: 48%;
  display: inline-block;
  vertical-align: top;
}
.kb-block-body-right {
  width: 48%;
  display: inline-block;
  vertical-align: top;
}
.kb-block-body-bottom {
  padding-top: 10px;
}
.kb-block-body-bottom-child {
  display: inline-block;
  width: 48%;
  font-size: 16px;
}

.kb-icon-document {
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    background-image: url(note3.png);
    background-repeat: no-repeat;
}
.kb-time-menu {
  padding-bottom: 10px;
}